---
interface Props {
  pageId: string;
  pageTitle: string;
}

const { pageId, pageTitle } = Astro.props;
const CUSDIS_HOST = "https://comments.natinternet.com";
const APP_ID = import.meta.env.PUBLIC_CUSDIS_APP_ID || "PLACEHOLDER";
---

<div id="cusdis_thread"
  data-host={CUSDIS_HOST}
  data-app-id={APP_ID}
  data-page-id={pageId}
  data-page-title={pageTitle}
  data-theme="auto"
></div>

<script is:inline src="https://comments.natinternet.com/js/cusdis.es.js" async defer></script>