---
const pageUrl = Astro.url.href;
---

<div id="remark42"></div>

<script define:vars={{ pageUrl }}>
  // Must be global for Remark42 embed.js
  window.remark_config = {
    host: "https://comments.natinternet.com",
    site_id: "advancedbiomass",
    url: pageUrl,
    components: ["embed"],
    max_shown_comments: 20,
    theme: "light",
    locale: "en",
  };
</script>
<script async src="https://comments.natinternet.com/web/embed.js"></script>
